{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Soccer League</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if request.resolver_match.url_name != "home" %}
    <header>
        <h1><a href="{% url 'home' %}">My Soccer League</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'team_list' %}">Teams</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'your_team' %}">Your Team</a></li>
                    <li><a href="{% url 'match_list' %}">Match Schedule</a></li>

                    {% with selected_team=user.selectedteam_set.first %}
                        {% if selected_team %}
                            <li><a href="{% url 'league_standings' league_id=selected_team.team.league.id %}">League Standings</a></li>
                        {% else %}
                            <li><a href="{% url 'select_teams' %}">Select Teams</a></li>
                        {% endif %}
                    {% endwith %}

                    <li>
                        <a href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
                            {% csrf_token %}
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 My Soccer League</p>
    </footer>
</body>
</html>
