{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/league_standings.css' %}">
{% endblock %}

{% block content %}
<div class="standings-container">
  <h2>{{ league.name }} Standings</h2>

  <table class="standings-table">
    <tr>
      <th>Rank</th>
      <th>Team</th>
      <th>Played</th>
      <th>Points</th>
      <th>Wins</th>
      <th>Draws</th>
      <th>Losses</th>
      <th>Goals Scored</th>
      <th>Goals Conceded</th>
      <th>Goal Difference</th>
    </tr>
    {% for team in standings %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ team.team.name }}</td>
        <td>{{ team.wins|add:team.draws|add:team.losses }}</td>
        <td>{{ team.points }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.goals_scored }}</td>
        <td>{{ team.goals_conceded }}</td>
        <td>{{ team.goal_difference }}</td>
      </tr>
    {% endfor %}
  </table>

  <a href="{% url 'match_list' %}" class="btn-primary">Match Schedule</a>
</div>
{% endblock %}
