{% extends 'base.html' %}
{% block content %}
  <h2>Select 19 Teams</h2>

  <form method="post">
    {% csrf_token %}

    <!-- 리그별로 선택할 수 있는 팀 목록을 구분 -->
    {% for league in leagues %}
        <h3>{{ league.name }}</h3>
        {% for team in league.league_teams.all %}
            <label>
                <input type="checkbox" name="teams" value="{{ team.id }}">
                {{ team.name }}
            </label><br>
        {% empty %}
            <p>No teams available in this league.</p>
        {% endfor %}
    {% endfor %}

    <button type="submit">Submit</button>
  </form>
{% endblock %}
