{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<h1>Team List</h1>

{% for league in leagues %}
    <h2>{{ league.name }}</h2>
    <ul>
        {% for team in league.league_teams.all %}
            <li>
                <a href="{% url 'team_detail' team.id %}">{{ team.name }}</a>

                {% if team in user_teams %}
                    <a href="{% url 'add_player' team.id %}">Add Player</a>
                {% endif %}
            </li>
        {% empty %}
            <li>No teams in this league.</li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}
