{% extends "base.html" %}
{% block content %}
<h1>Team List</h1>

{% for league in leagues %}
    <h2>{{ league.name }}</h2>
    <ul>
        {% for team in league.teams.all %}
            <li>
                <a href="{% url 'team_detail' team.id %}">{{ team.name }}</a>

                {% if selected_team and selected_team.team == team %}
                    <strong>(Your Team)</strong>
                {% elif not selected_team %}
                    <form method="POST" action="{% url 'select_your_team' team.id %}">
                        {% csrf_token %}
                        <button type="submit">Select This Team</button>
                    </form>
                {% endif %}
            </li>
        {% empty %}
            <li>No teams in this league.</li>
        {% endfor %}
    </ul>
{% endfor %}

{% if selected_team %}
    <p><a href="{% url 'select_teams' %}" class="btn btn-primary">Select 19 Opponent Teams</a></p>
{% endif %}

{% endblock %}

